
body{
    background-color:black ;
    color: white;
    font-family:monospace;
    font-size: 15px;
    
    
}
h2{
    overflow: hidden;
    border-left:0.15em solid black;
    white-space: nowrap;
    letter-spacing: 0.15em;
    text-align: center;
}
p{
    padding: 0px 50px;
    
}
img{
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.card{
    border: 2px solid red;
    border-radius: 10px;
    margin: 15px 200px;
}
