body {
	background-color: #333; /* blackish background */
	font-family: Arial, sans-serif;
}

.container {
	width: 300px;
	margin: 10% auto;
	padding: 10px 50px 50px 50px;
	background-color: #444; /* darker background for the form */
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1{
    color:#09a5f4;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
}

button[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #00aaff;/* green button */
    font-size: 20px; 
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #09a5e5; /* darker green on hover */
}

p {
    color: yellow;
    opacity: 0.5;
	margin-top: 20px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #ccc;
}